h1
{
	color: black;
}

body {
color:black;
background-color:white;
background-image:url(FONDECRAN2.png);
margin:0;
}

#carte
{

	width: 800px;
	margin:0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}

ul li
{
	list-style-type: none;
}
